{% extends "base.html" %}
{% block content %}
  <div class="container-fluid approve-project-bg">
      {% if grouped_data %}
        <h2 style="padding-left: 25px;">List of approved project Projects:</h2>
        {% for group_data in grouped_data %}
        
          <div class="row justify-content-center">
            <div class="col-12">
             <div class="group-boxdp boxdp">
              <div class="group-members">
                <strong>Group members:</strong>
                {% for student in group_data.students %}
                  {% if student.group_id == group_data.group_id %}
                    <p class="stud-name-dept">{{ loop.index }}: {{ student.name }}</p>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
           </div>
            <div class="col-12">
                <!-- for approved project -->
              <div class="project-container-for-app d-flex flex-wrap">
                {% for project in group_data.projects %}
                  {% if project.is_approved %}
                    <div class="project-card-for-app boxfor-app flex-grow-1 {% if project.is_approved %}if_approved{% endif %}">
                      <h3>Title: {{ project.title }}</h3>
                      <strong>Description:</strong>
                      <p>{{ project.description }} <span class="read-more">read more</span></p>
                      {% if project.is_approved %}
                        <h5 class="approved mt-4"><span class="correct">&#10004;</span> Approved</h5>
                       {%endif%}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No projects found for your department.</p>
      {% endif %}
  </div>
  <script src="{{ url_for('static', filename='js/myscript.js') }}"></script>
{% endblock %}
