{% extends "base.html" %}

{% block content %}
<div class="container-fluid home-background">
    <h2 class="advname"> Welcome: {{ currentUser.name }}</h2>
    <div class="row justify-content-center dsp">
        <div class="col-md-4">
            <div class="group-box box1">
                <div class="groups">
                    
                    <img src="../static/images/group2.png" width="100" height="60" style="margin-top:10px; padding-left: 55px; " alt="">
                {% if groupStud %}
                    <div class=" stud">
                        {% for stud in groupStud %}
                        <p class="studp">{{loop.index}}: {{stud.name}}</p>
                        {% endfor %}
                    </div>
                {% else %}
                <p>you are alone, you should make group!</p>
                {% endif %}
                </div>
            <div style="margin-top: 40px;">
                <h5 class="" style="color: white;"><span style="font-size: 16px;">Your adviser is:</span> {{ adv.name }}<h5/>
                <span><img src="../static/images/email.png" width="30" alt=""></span><a href="mailto:{{adv.email}}" class="advemail"> {{adv.email}}</a>   
            </div>
            </div> 
        </div>
        <div class="col-md-6 home-project box2">
           {% if userProject %}
             {% if userProject|length == 1 %}
              <div class="congra">
                <img src="../static/images/email.png" width="30" alt=""><span>Congratulation!</span><h5>Your approved project idea </h5>

              </div>
                <div class="">
                    {% for project in userProject %}
                        <div class="">
                            <div class="cardmain {% if userProject|length == 1 %}{% endif %}">
                                <h5 class="card-title">Project {{ loop.index }}: {{ project.title }}</h5>
                                <p class="">{{ project.description }} <span class="read-more">read more</span></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card-deck">
                    {% for project in userProject %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Project {{ loop.index }}: {{ project.title }}</h5>
                                <p class="card-text">{{ project.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% else %}
            <p>No projects available.</p>
            {% endif %}

        </div>
    </div>
  </div>
{% endblock %}


<!-- <div style="overflow-x: hidden;">
    Corrected syntax to access user's name
  
</div> -->