{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            
                <div class="text-center">
                    <h1 class="text-danger">Something went wrong (500)</h1>
                    <p class="text-muted">We're experiencing some trouble on our end. Please try again in the near future.</p>
                </div>
            
        </div>
    </div>
</div>
<div style="margin-top: 288px;"></div>
{% endblock content %}